@import '@/styles/Global.sass'

.SButton
    @include typography(small)
    height: 48px
    display: inline-block
    cursor: pointer
    display: flex
    align-items: center
    transition: background-color .3s
    margin: -8px 0

    .inner
        height: 32px
        background-color: $darkLevel
        padding: 0 16px
        border-radius: 16px
        line-height: 32px
        min-width: 96px
        text-align: center

    &.dark
        .inner
            background-color: $lightLevel